# Core functionality - changes here should be rare!
/src/app.py                   @Programagons
/src/backend/database.py      @Programagons
/src/backend/routers/auth.py  @Programagons

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Programagons
